.hourly-animation {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  height: 50vh;
}

#animation-background {
  position: absolute;
  background-color: lightblue;
  background-attachment: fixed;
  width: inherit;
  height: inherit;
  min-height: 300px;
  z-index: -110;
}

#animation-info {
  font-size: 2em;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#animation-sun {
  position: absolute;
  background-color: yellow;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#cloud-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.animation-cloud {
  position: absolute;
}

#cloud-one {
  top: 80px;
  left: 80px;
}

#cloud-two {
  top: 105px;
  left: 260px;
}

.cloud-circle {
  position: absolute;
  border-radius: 50%;
}

#cloud-one .cloud-circle {
  background-color: #dbdbdb;
}

#cloud-two .cloud-circle {
  background-color: #cecece;
}

.cloud-circle:nth-child(1) {
  height: 145px;
  width: 145px;
  top: 15px;
}

.cloud-circle:nth-child(2) {
  height: 160px;
  width: 160px;
  left: 80px;
}

.cloud-circle:nth-child(3) {
  height: 125px;
  width: 125px;
  top: 34px;
  left: 170px;
}

#animation-precip {
  position: absolute;
  overflow: hidden;
  height: inherit;
  width: inherit;
  min-height: 300px;
  z-index: -100;
}

.drop {
  background: black;
	width: 1px;
	height: 75px;
	position: absolute;
	bottom: 200px;
	animation: fall .68s linear infinite;
}

@keyframes fall {
	to {margin-top: 1000px;}
}
