.body {

}

.detailed-weather-group {

}

.detailed-weather {

}

.carousel {
  height: 80vh;
  min-height: 400px;
  overflow-y: scroll;
}

.hourly-weather {
  width: 100%;
  border: 1px solid gray;
}

.hourly-weather .col-6 {
  margin-top: 2%;
}

.hourly-weather .day-date {
  border-bottom: 1px solid gray;
}

.hourly-weather h1 {
  font-size: 1.6em;
}

.hourly-weather .time-col h1 {
  margin-left: 10%;
}

.hourly-weather h2 {
  font-size: 1.4em;
  margin-left: 10%;
}

.hourly-weather h4 {
  font-size: 0.9em;
}

.hourly-weather-group {
  min-height: 300px;
}

.wang-weather {

}

.weather-card {
  width: 28%;
  margin: 2%;
  border: 1px solid gray;
  padding: 2%;
}

.weather-card-group {

}
